<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.name %> - chocobuttons.com</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <details id="books">
        <summary>All Books</summary>
        <% for (const title of bookTitles) { %>
          <p>
            <a href="/<%= title.replace(/ /g, '_') %>"><%= title %></a>
          </p>
        <% } %>
      </details>
    </nav>
    <main>
      <article>
        <h1><%= book.name %> <%= chapter + 1 %></h1>
        <nav>
          <% if (book.chapters[chapter].previous()) { %>
            <a class="previous-chapter" href="<%- book.chapters[chapter].previous() %>">prev</a>
          <% } %>
          <% if (book.chapters[chapter].next()) { %>
            <a class="next-chapter" href="<%- book.chapters[chapter].next() %>">next</a>
          <% } %>
        </nav>
        <section>
          <% for (const verse of book.chapters[chapter].verses) { %>
            <p>
              <sup><%= verse.number %></sup><%= verse.text %>
            </p>
          <% } %>
        </section>
        <nav>
          <% if (book.chapters[chapter].previous()) { %>
            <a class="previous-chapter" href="<%- book.chapters[chapter].previous() %>">prev</a>
          <% } %>
          <% if (book.chapters[chapter].next()) { %>
            <a class="next-chapter" href="<%- book.chapters[chapter].next() %>">next</a>
          <% } %>
        </nav>
      </article>
    </main>
  </body>
</html>
